.thumbnail-img {
  width: 100%;
}

.short-description {
  color: var(--white);
  font-weight: 500;
  font-size: 0.82rem;
  margin-top: 0.15rem;
}

.creater-name {
  color: var(--grey);
  font-size: 0.73rem;
  font-weight: 500;
  margin-top: 0.15rem;
}

.premium-creator {
  color: #787878;
  font-size: 0.62rem;
}

.views {
  color: var(--grey);
  font-size: 0.75rem;
}

.dot {
  font-size: 0.2rem;
  margin: 0rem 0.5rem;
}

.three-dot {
  color: var(--white);
  font-size: 0.9rem;
  width: 0.6rem;
  height: 1.3rem;
  text-align: right;
  cursor: pointer;
}

.thumnail-text-content {
  width: 80%;
}

.channel-logo {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  margin-top: 0.32rem;
}

.last-line-thumbnail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.2rem;
}

.all-thmbnail-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.toggle-menu {
  position: absolute;
  color: var(--white);
  font-size: 0.88rem;
  font-weight: 400;
  background-color: #262626;
  border-radius: 0.5rem;
  top: 1.1rem;
  right: 0.2rem;
}

.add {
  margin-right: 0.3rem;
}

.hover-Effect {
  border-radius: 0.5rem;
  padding: 0.3rem 0.6rem 0.25rem 0.6rem;
}

.hover-Effect:hover {
  background-color: #373737;
}

.video-thumbnail-box {
  cursor: pointer;
}

.show-on-click {
  display: block;
}

.hide-on-click {
  display: none;
}

@media (max-width: 1300px) {
  .views {
    color: var(--grey);
    font-size: 0.72rem;
  }

  .dot {
    font-size: 0.2rem;
    margin-top: 0.2rem;
  }

  .thumnail-text-content {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .thumnail-text-content {
    width: 79%;
  }
}

@media (max-width: 635px) {
  .thumnail-text-content {
    width: 80%;
  }

  .short-description {
    font-size: 0.88rem;
    font-weight: 600;
  }

  .creater-name {
    color: var(--grey);
    font-size: 0.8rem;
    font-weight: 500;
  }

  .views {
    color: var(--grey);
    font-size: 0.8rem;
  }

  .dot{
    font-size: 0.25rem;
    margin: 0rem 0.5rem;
  }

  .channel-logo {
      width: 2.3rem;
      height: 2.3rem;
  }
}
