.clear-history{
    border-radius: 0.3rem;
    border: 1.4px solid var(--main-orange);
    background-color: var(--page-bg);
    color: var(--main-orange);
    padding: 0 0.8rem;
    cursor: pointer;
    margin: 0.3rem 1.2rem 0rem auto;
}

.history-counter{
    color: var(--grey);
    max-width: 70rem;
    margin: auto;
    padding: 0.2rem 0 0 1.5rem;
    display: flex;
}

.empty-box-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    color: var(--empty-msg);
    flex-direction: column;
}

.empty-box{
    width: 6rem;
}

.empty-box-text{
     color: var(--empty-msg);
     margin: 0.5rem;
     font-size: 14.5px;
}

.empty-box-btn{
    background-color: #f89b59;
    font-weight: 600;
    font-size: 15.3px;
    border: none;
    border-radius: 4px;
    padding: 7px 5rem;
    margin-top: 5px;
    text-decoration: none;
    color: black;
}


@media (max-width:637px) {
    .clear-history{
        margin-top: 0.5rem;
    }

    .history-counter{
        margin-bottom: 0.5rem;
    }

    .empty-box-outer{
        height: 40vh;
    }
}