.profile-btn-color{
    color: var(--white);
}

.profile-btn-name{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1rem;
}

.profile-outerbox{
    margin-top: 6rem;
}

.profile-icn{
   margin: 0 1rem 1.3rem 1.8rem;
   font-size: 1.2rem;
}

.logout-profile{
    color: var(--red);
}

.logout-margin{
    margin-left: 1.9rem;
}