.login-outerbox{
    display: flex;
    justify-content: center;
    margin: 5rem 0 0 7rem;
    align-items: center;
    height: 70vh;
}

.signup-outerbox{
    display: flex;
    justify-content: center;
    margin: 5rem 0 0 7rem;
    align-items: center;
    height: 75vh;
}

.login-container{
   width: 30rem;
   border: 1.5px solid var(--border);
   border-radius: 0.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.login-text{
    font-size: 1.7rem;
    color: var(--main-orange);
    font-weight: 400;
    text-align: center;
    margin: 1rem 0 2rem 0;
}

.input-container{
    position: relative;
    color: var(--grey);
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
}

.login-heading{
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}

.input-feild{
    background-color: var(--page-bg);
    border: 1.2px solid var(--border);
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    color: var(--grey);
}

.input-feild:focus{
    outline: none;
}

.password-container{
    margin-top: 0.7rem;
}

.guest-login-btn{
    border: none;
    margin: 0 3rem;
    background-color: var(--main-orange);
    font-size: 0.95rem;
    font-weight: 500;
    padding: 0.5rem 0;
    border-radius: 0.3rem;
    cursor: pointer;
}

.login-skiller{
    margin-bottom: 0;
}

.or-text{
    color: var(--grey);
    text-align: center;
    margin: 1rem 0;
}

.margin-login{
    margin-top: 1.7rem;
}

.new-text{
    color: var(--grey);
    text-align: center;
    margin: 1.3rem 0 1.7rem 0;
    font-size: 0.93rem;
}

.signup-text{
    color: var(--main-orange);
    cursor: pointer;
}

.singup-gap{
    margin-top: 1.1rem;
}

.password-eye{
    position: absolute;
    right: 9px;
    font-size: 1.25rem;
    color: var(--eye-color);
    top: 1.85rem;
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--page-bg) inset !important;
}
input:-webkit-autofill{
    -webkit-text-fill-color: var(--grey) !important;
}

@media (max-width:637px) {
    .signup-outerbox{
        margin-left: 0;
    }
    .login-outerbox{
        margin-left: 0;
    }
}