.main-sidebar{
    color: var(--white);
    background-color: var(--navbar-bg);
    position: fixed;
    top: 4.5rem;
    bottom: 0;
    z-index: 99;
}

.sider-ul{
    width: 14rem;
    height: 15rem;
    background-color: var(--navbar-bg);
}

.list-sidebar{
    cursor: pointer;
    padding: 0.8rem 0 0.8rem 0;
    background-color: var(--navbar-bg);
}

.list-sidebar:hover .sidebar-icn-name{
    background-color:var(--navbar-hover);
}

.list-sidebar:hover .sider-icn{
    background-color:var(--navbar-hover);
}

.list-sidebar:hover{
    background-color:var(--navbar-hover);
}

.sidebar-icn-name{
    font-weight: 400;
    margin-left: 1.5rem;
    display: inline;
    background-color: var(--navbar-bg);
}

.sider-icn{
    margin-left: 2.4rem;
    background-color: var(--navbar-bg);
}

.profile{
    display: none;
}

@media (max-width:1200px) {
    .sider-ul{
        width: 6.5rem;
    }

    .sidebar-icn-name{
        display: block;
        margin-left: 0;
        margin-top: 0.4rem;
    }

    .sider-icn{
        margin-left: 0;
    }

    .list-sidebar{
        padding: 1rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile{
        display: none;
    }

}

@media (max-width:637px){
    .main-sidebar{
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .sider-ul{
        display: flex;
        justify-content: space-around;
        height: 4.5rem;
        width: auto;
    }

    .hide{
        display: none;
    }

    .profile{
        display: flex;
    }

    .list-sidebar:hover{
        color:var(--main-orange);
        background-color: var(--navbar-bg);
    }

    .list-sidebar:hover .sidebar-icn-name{
        background-color: var(--navbar-bg);
    }
    
    .list-sidebar:hover .sider-icn{
        background-color: var(--navbar-bg);
    }

    .list-sidebar{
         margin: 0rem 2.8rem;
    }
}