@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #181818;
}

.Link{
    text-decoration: none;
}

:root{
    --navbar-bg:#222222;
    --main-orange:#ff9041;
    --white:#ffffff;
    --page-bg:#181818;
    --navbar-hover:#323131;
    --grey:#aaa;
    --red:#f87171;
    --blue:#71a9f7;
    --border:#35312b;
    --modal-color:#2f2f36;
}